@import "../../../../assets/styles/colors";

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(23, 23, 23, 0.8);

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    .st0 {
        opacity: 0.8;
        fill: none;
        stroke-width: 0.4811;
        stroke-miterlimit: 10;
    }
    .st2 {
        opacity:0.8;
    }
    .st3 { 
        fill: none;
        stroke-width: 0.5;
        stroke-miterlimit: 10;
    }
    .st4 {
        fill: none;
        stroke-width: 0.4694;
        stroke-miterlimit: 10;
    }
}
