@import "../../../../assets/styles/colors.scss";

.card {
    background: $color-black;
    color: $color-black;
	padding: 17px; 
	height: 550px; 
	width: 400px;
	margin: 50px auto; 
	border-radius: 5px; 
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    
    &__background {
        padding: 7px 8px 30px 7px;
        background-color: #69a;
        background-image: 
            repeating-linear-gradient(140deg, transparent, rgba(255, 255, 255, 0.25) 1%, transparent 20%),
            repeating-linear-gradient(-30deg, transparent, transparent 8%, rgba(255, 255, 255, 0.4), transparent 9%),
            repeating-linear-gradient(-10deg, transparent, transparent 13%, rgba(0, 0, 0, 0.4), transparent 15%),
            repeating-linear-gradient(80deg, transparent, transparent 7.5%, rgba(0, 0, 0, 0.25), transparent 8%),
            repeating-linear-gradient(5deg, transparent, transparent 10.5%, rgba(255, 255, 255, 0.5), transparent 11%),
            repeating-linear-gradient(75deg, transparent, transparent 11.5%, rgba(255, 255, 255, 0.5), transparent 12%),
            repeating-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1%, transparent 1%, transparent 5%);
        border-radius: 10px 10px 40px 40px;
        height: 475px;
    }

    &__body {
        position: relative; 
        height: 485px;
        width: 97%;
        border: 2px solid rgba(0, 0, 0, 0.8);
        border-right: 2px solid #ddd;
        border-bottom: 2px solid #555;
        border-radius: 5px 5px 0 0;
        background: #ddd;
        z-index: 0;
        margin: 0 auto;
    }

    &__name {
        top: -485px;
        font-family: 'Beleren';
        font-weight: 600;

        div {
            height: 34px; 
        }
    }

    &__art { 
        background: #ddd;
        position: relative;
        height: 235.031px;
        border: 2px solid #333;
        z-index: 2;
        width: 95%;
        margin: 0 auto;
        top: -485px;

        img {
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    &__type {
        font-family: 'Beleren';
        font-weight: 600;
    }

    &__text-box {
        font-family: 'Matrix';
        font-size: 19px;
        background: #d3dddd;
        width: 95%;
        height: 169px;
        margin: 0 auto;
        padding: 10px 10px;
        top: -485px; bottom: 44px;
        border: 2px solid #999;
        border-bottom: 0 none;
        border-left: 0 none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .power-toughness {
        top: -496px; right: 0;
        text-align: center; 
        box-shadow: -2px 1px 2px 0 rgba(0, 0, 0, 0.8);
        float: right;
        overflow: hidden;
        font-family: 'Beleren';
        font-weight: 600;
    
        div {
            padding: 4px 15px 0; 
            height: 23px;
            box-shadow: inset -2px 2px 1px #333, inset 1px -1px 0 #fff;
            border: 0 none;
            font-size: 21px;
        }
    }
}

.article {
    padding: 3px;
    width: 350px;
}

.header {
    padding: 3px; 
    background: #ddd;
    border-radius: 8px/20px;
    box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.8);
    position: relative;
    top: -485px; left: 0; right: 0; 
    z-index: 2;

    div {
        padding: 4px 8px 3px; 
        background: radial-gradient(ellipse farthest-corner, #E0E7ED 50%, #BDC6CD);
        position: relative;
        border: 2px solid #000; 
        border-radius: 10px/20px;
        box-shadow: inset 2px -3px 0 #aaa, inset -1px 1px 0 #fff;
        height: 33px; 
    }
}

h1, h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
	font-size: 21px; 
	line-height: 1em; 
}

h2 {
	font-size: 18px; 
    line-height: 1em;
}

p {
	margin-bottom: 0.6em; 
	line-height: 1.1em; 
}

blockquote {
    font-style: italic;
}

footer {
    color: #ccc;
    font-family: sans-serif; 
    position: relative;
    top: -470px;
    left: 5px; 
    right: 5px;
    width: 100%;
    font-family: 'MagicMedieval';
}
