@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/ellipsis";

// shadows
$shadow-card: 2px 2px 4px rgba(0, 0, 0, 0.75);
$shadow-header-wrapper: -2px 0 0 0 rgba(0,0,0,.8);
$shadow-header: inset 2px -3px 0 #aaa, inset -1px 1px 0 #fff;
$shadow-pt-wrapper: -2px 1px 2px 0 rgba(0,0,0,.8);
$shadow-pt: inset -2px 2px 1px #333, inset 1px -1px 0 #fff;

// colors
$color-header: #ddd;

// gradients
$gradient-header-bg: radial-gradient(ellipse farthest-corner,#e0e7ed 50%,#bdc6cd);

// borders
$border-dark: 2px solid rgba(0, 0, 0, 0.8);
$border-medium: 2px solid #333;
$border-light: 2px solid #999;

// widths
$width-outer: 332px;
$width-inner: 323px;

.card {
    background: $color-black;
    color: $color-black;
    padding: 17px 17px 10px;
    height: 550px;
    width: 400px;
    border-radius: 5px;
    box-shadow: $shadow-card;
    position: relative;

    &__texture-layer, &__color-layer {
        border-radius: 10px 10px 40px 40px;
        height: 475px;
        width: 100%;
    }

    &__texture-layer {
        background-image: url("../../../../assets/images/card-bg-texture.jpg");
        position: relative;
    }

    &__color-layer {
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 11px 0;
    }

    &__artist {
        color: $color-cadet-blue;
        font-family: 'Matrix', sans-serif;
        font-size: 16px;
        line-height: 1.1;
        width: 100%;

        @include single-line-ellipsis();
    }

    &__content-layer {
        position: absolute;
        top: 27px;
        left: 28px;
        right: 28px;
    }
}

.content {
    &__header, &__type {
        &-wrapper {
            padding: 3px;
            background: $color-header;
            border-radius: 8px/20px;
            box-shadow: $shadow-header-wrapper;
        }

        font-family: 'Beleren', sans-serif;
        font-weight: 600;
        background: $gradient-header-bg;
        border: 2px solid $color-black;
        border-radius: 10px/20px;
        box-shadow: $shadow-header;
        height: 33px;
        padding: 4px 8px 0;
        line-height: 1;

        @include single-line-ellipsis();
    }

    &__header {
        font-size: 21px;
    }

    &__type {
        font-size: 18px;
        padding-top: 5px;
    }

    &__art {
        &-wrapper {
            width: $width-outer;
            background: $color-header;
            margin: 0 auto;
            border-left: $border-dark;
        }

        border: $border-medium;
        margin: 0 auto;
    }

    &__text {
        &-wrapper {
            width: $width-outer;
            margin: 0 auto;
            border-left: $border-dark;
            border-bottom: $border-dark;
            background-color: $color-header;
            padding-bottom: 2px;
        }

        font-family: 'Matrix', sans-serif;
        font-size: 19px;
        height: 169px;
        margin: 0 auto;
        padding: 10px;
        border: $border-light;
        width: $width-inner;

        p {
            margin-bottom: 11px; 
            line-height: 1.1; 
        }
        
        blockquote {
            font-style: italic;
        }
    }

    &__pt {
        &-wrapper {
            box-shadow: $shadow-pt-wrapper;
            padding: 3px;
            background: $color-header;
            border-radius: 8px/20px;
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: -10px;
        }

        background: $gradient-header-bg;
        border-radius: 10px/20px;
        padding: 3px 15px 0;
        height: 23px;
        box-shadow: $shadow-pt;
        border: 0;
        font-size: 21px;
        display: inline-block;
        font-size: 18px;
        line-height: 1em;
        font-family: 'Beleren', sans-serif;
        font-weight: 600;
    }
}

// todo: add typography css