<div class="card">
    <div class="card__texture-layer"></div>

    <div class="card__color-layer"
        [class.mana-colorless]="card?.isColorless"
        [class.mana-white]="card?.isWhite"
        [class.mana-blue]="card?.isBlue"
        [class.mana-black]="card?.isBlack"
        [class.mana-red]="card?.isRed"
        [class.mana-green]="card?.isGreen"
        [class.mana-multi-colored]="card?.isMultiColored">
    </div>

    <div class="card__background">
        <article class="article">
            <div class="card__body"></div>

            <header class="header card__name">
                <div>
                    <h1>{{ card?.name }}</h1>
                </div>
            </header>
                
            <div class="card__art">
                <img [src]="card?.artCrop" [alt]="card?.name" />
            </div>

            <header class="header card__type">
                <div>
                    <h2>{{ card?.typeLine }}</h2>
                </div>
            </header>
        
            <div class="card__text-box">
                <p>{{ card?.text }}</p>

                <blockquote>
                    <p>{{ card?.flavorText }}</p>
                </blockquote>
            </div>	

            <header class="header power-toughness" *ngIf="card?.power">
                <div>
                    <h2>{{ card?.power }}/{{ card?.toughness }}</h2>
                </div>
            </header>
        
            <footer>
                <p>Art by {{ card?.artist?.name }}</p>
            </footer>
        </article>      
    </div>
</div>		

<!-- https://github.com/ronniemon/mtg-card-html -->