<div class="card d-flex fd-column ai-start jc-space-between">
    <div class="card__texture-layer">
        <div class="card__color-layer"
            [class.mana-colorless]="card?.isColorless"
            [class.mana-white]="card?.isWhite"
            [class.mana-blue]="card?.isBlue"
            [class.mana-black]="card?.isBlack"
            [class.mana-red]="card?.isRed"
            [class.mana-green]="card?.isGreen"
            [class.mana-multi-colored]="card?.isMultiColored">
        </div>
    </div>

    <div class="card__content-layer">
        <div class="content__header-wrapper">
            <h3 class="content__header">
                {{ card?.name }}
            </h3>
        </div>

        <div class="content__art-wrapper">
            <div class="content__art" 
                progressiveImage
                [width]="323"
                [height]="237"
                [source]="card?.artCrop">
            </div>
        </div>

        <div class="content__type-wrapper">
            <h5 class="content__type">
                {{ card?.typeLine }}
            </h5>
        </div>

        <div class="content__text-wrapper">
            <div class="content__text d-flex fd-column ai-start jc-center">
                <p>{{ card?.text }}</p>

                <blockquote>
                    <p>{{ card?.flavorText }}</p>
                </blockquote>
            </div>
        </div>

        <div class="content__pt-wrapper" *ngIf="card?.power">
            <div class="content__pt">
                {{ card?.power }}/{{ card?.toughness }}
            </div>
        </div>
    </div>

    <div class="card__artist" [title]="card?.artist?.name">
        Art by {{ card?.artist?.name }}
    </div>
</div>
