@import "../../../../../../assets/styles/colors";
@import "../../../../../../assets/styles/misc";

$duration-hover: 0.35s;

$shadow-inner: 0 1px 10px rgba(0, 0, 0, 0.5);
$shadow-outer: 0 3px 30px rgba(0, 0, 0, 0.8);

.battles-list {
    height: 100vh;
}

.list {
    width: 860px;
    margin: 0 auto 15px;
    height: 660px;

    &__entry {
        width: 400px;
        height: 300px;
        margin: 0 15px;
        position: relative;
    }
}

.battle-before {
    @include nested-absolute();
    z-index: -1;
    background: $color-black;
    content: '';
    transition: opacity $duration-hover;
}

.battle {
    $battle: &;

    cursor: pointer;
    font-family: 'Matrix';

    &__title-image {
        transform: perspective(1000px) translate3d(0, 0, 0);
        transition: transform $duration-hover;
        position: relative;
    }

    &__caption {
        @include nested-absolute();
        padding: 30px;
        z-index: 1;
    }

    &__panel {
        background-color: $color-white;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $color-mine-shaft-approx;
    }

    &__header {
        margin-top: 15px;
        padding: 7px;    
        position: relative;

        &:before {
            @extend .battle-before;            
            opacity: 1;
            box-shadow: $shadow-inner;
        }

        .emphasized {
            font-weight: 600;
            text-transform: uppercase;
            font-family: 'Beleren';
        }
    }

    &__action {
        margin-top: 15px;
        padding: 3px;
        opacity: 0;
        transition: opacity $duration-hover, transform $duration-hover;
        transform: scale3d(0.9, 0.9, 1);
    }

    &:before {
        @extend .battle-before;
        box-shadow: $shadow-outer;
        opacity: 0;
    }

    &:hover {
        &:before {
            opacity: 1;
        }

        #{$battle} {
            &__title-image {
                transform: perspective(1000px) translate3d(0,0,21px);
            }

            &__header {
                &:before {
                    opacity: 0;
                }
            }

            &__action {
                opacity: 1;
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
