<div class="battles-list d-flex ai-center jc-center fd-column">
    <div class="list d-flex ai-center jc-center fw-wrap">
        <div class="list__entry battle" #entry
            *ngIf="(currentPage | async) === 0">
            <div class="battle__title-image"
                progressiveImage
                [width]="400"
                [height]="300"
                [source]="'/assets/images/new-game.png'">
            </div>

            <div class="battle__caption">
                <div class="battle__panel battle__header">
                    25.09.2019 -
                    <span class="emphasized">New game</span>
                </div>

                <div class="battle__panel battle__action">
                    Start
                </div>
            </div>
        </div>
        <ng-container *ngFor="let battle of battlesTable.data | async; let i = index">
            <div class="list__entry battle" #entry
                *ngIf="(currentPage | async) !== 0 || i !== limit - 1">
                <div class="battle__title-image"
                    progressiveImage
                    [width]="400"
                    [height]="300"
                    [source]="battle.titleImage">
                </div>
    
                <div class="battle__caption">
                    <div class="battle__panel battle__header">
                        <!-- todo: pull -->
                        25.09.2019 -
                        <span class="emphasized">In progress</span>
                    </div>
    
                    <div class="battle__panel battle__action">
                        Continue
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="battles-list__pagination">
        <am-paginator
            [rows]="limit"
            [firstPageRows]="limit - 1"
            [totalRecords]="battlesTable.total | async"
            (pageChanged)="onPageChanged($event)">
        </am-paginator>
    </div>
</div>
