<div class="battle d-flex ai-center jc-center">
    <div class="cards-list enemies d-flex ai-center jc-center fw-wrap">
        <div class="card enemy-card" *ngFor="let enemy of (battle | async)?.nextEnemyUnits">
            <div class="enemy-card__image"
                progressiveImage
                [width]="200"
                [height]="150"
                [source]="enemy.image">
            </div>

            <div *ngFor="let color of enemy.manaColorsList; let i = index"
                class="color color-{{i}} {{color}}">
            </div>
        </div>

        <!-- <div class=""></div> -->
        <!-- todo: show name in panel on hover, show colors there -->
    </div>

    <div class="vs">
        VS.
    </div>

    <div class="cards-list availables d-flex ai-center jc-center fw-wrap">
        <div class="card available-card" *ngFor="let unit of (battle | async)?.availableUnits">
            <div class="available-card__image"
                progressiveImage
                [width]="200"
                [height]="150"
                [source]="unit.image">
            </div>
        </div>
    </div>
</div>
