<div class="battle d-flex ai-center jc-center">
    <div class="units-list units-list--enemy">
        <div class="units-list__entry unit" 
            *ngFor="let unit of (battle | async)?.nextEnemyUnits">
            <div class="unit__image"></div>
            <div class="unit__info">
                <div class="unit__texts">
                    <div class="unit__name">
                        {{ unit.name }}
                    </div>
                    <div class="unit__level">
                        {{ unit.level }}
                    </div>
                </div>
                <div class="unit__colors">
                    <span *ngFor="let color of unit.manaColorsList"
                        class="color {{color}}">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="drop-zone"></div>

    <div class="units-list units-list--available"></div>
</div>
