@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/responsive";

.battle {
    height: 100vh;

    .units-list {
        .unit {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &__image {
                width: 80px;
                height: 60px;
                border: 2px solid #000;
                transform: skewX(-10deg);
                background-color: darkgray;
                border-radius: 7px;
                position: relative;
                z-index: 1;
                overflow: hidden;
            }

            &__texts {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 1;
            }

            &__name {
                background-color: #a9b7c6;
                padding: 10px 25px;
                color: #000;
                transform: skewX(-10deg);
                font-family: Beleren;
                border-top: 2px solid;
                border-bottom: 2px solid;
                font-size: 16px;
            }

            &__level {
                background-color: #a9b7c6;
                padding: 10px 25px;
                color: #000;
                transform: skewX(-10deg);
                font-family: Beleren;
                border: 2px solid;
                font-size: 32px;
                border-radius: 7px;
            }

            &__colors {
                display: flex;
                position: relative;
                top: -9px;
                left: -5px;
                transform: skewX(-15deg);
                z-index: 0;

                .color {
                    width: 20px;
                    height: 7px;
                    display: block;
                }
            }
        }
    }
}