$color-mine-shaft-approx:   #2b2b2b;
$color-mine-shaft-solid:    #323232;
$color-black:               #000000;
$color-cod-gray:            #111111;
$color-gray-solid:          #808080;
$color-gray-approx:         #7e7e7e;
$color-chestnut-rose:       #d25252;
$color-brandy-punch:        #cb772f;
$color-koromiko:            #ffc66d;
$color-celery:              #a5c25c;
$color-sushi:               #7fb347;
$color-hippie-green:        #619647;
$color-hippie-blue:         #6897bb;
$color-cadet-blue:          #a9b7c6;
$color-periwinkle:          #bed6ff;
$color-bay-of-many:         #214283;
$color-lavender-purple:     #9876aa;
