@import "./assets/styles/colors";
@import "./../node_modules/primeicons/primeicons.css";
@import "./../node_modules//primeng/resources/themes/nova-light/theme.css";
@import "./../node_modules/primeng/resources/primeng.min.css";

* {
    box-sizing: border-box;
}

body {
    background-color: $color-mine-shaft-approx;
    color: $color-periwinkle;
}

#page-wrapper {
    height: 100vh;
    overflow: hidden;
    background-image: url("./assets/images/background.png");
    background-size: cover; 
    
    &.blurred {
        filter: blur(5px) grayscale(1);
    }
}
