$breakpoints: (
    // basic:
    mobile: 320px,
    extra-small: 377px,
    small: 576px,
    medium: 768px,
    large: 992px,
    tablet: 1024px,
    laptop: 1366px,
    extra-large: 1280px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn "No such breakpoint in the map: `#{$breakpoint}`. ";
    }
}
